.active-users-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;

    max-height: 400px; 
    overflow-y: auto; 
}

.active-users-container h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.user-card {
    background-color: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.user-card:hover {
    transform: scale(1.03);
}

.user-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.user-card p strong {
    color: #222;
}
