.ps-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ps-dropdown{
    font-size: 20px;
}
.ps-dropdown-label{
    font-size: 25px;
}
.ps-dropdown-update{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 15px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 25px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}